<form class="row add-post" action="#" method="post">
    <div class="col-md-12 ">
        <label class="form-label add-post-label">Question</label>
        <input type="text" class="form-control" id="question" name="question" value="<%= question.question %>" >
    </div>
    <div class="col-md-12 mt-2">
        <label for="validationCustom03" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"> <%= question.description %> </textarea>
    </div>
    </div>
        <div class="card-footer no-border">
            <button class="btn btn-add-question" type="submit">Edit Question</button>
        </div>
    </div>
</form>
